{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="text-center mt-5">
    <h2>Tous les produits</h2>
</div>
<div class="container">
    <div class="row">
        {% for element in produits %}
        <div class="col-4">
            <div class="card text-bg-dark text-light m-5" style="max-width: 18rem;">
                <div class="card-header text-center text-dark bg-warning">Titre: {{element.title|upper}}</div>
                <div class="card-body">
            
                    
                    <p class="card-text text-center">Produit n°: {{element.id}}</p>
                
                    <p class="card-text text-center">prix: {{element.price}}€</p>
                  
                </div>
                <div class="card-footer">
                    <a href="{{ path('produit_detail', {'id': element.id}) }}" class="btn btn-success">Consulter le produit </a>
                </div>
              </div>
            </div>
        
            
        {% endfor %}
    </div>

</div>
{% endblock %}
